@import "includes/_colors";
@import "includes/_sizeVariable";



#myDiv{
  margin-top: 10px;
  padding: 15px;
  color: black;
  height: 550px;

  overflow: auto;
}




#topTen{
  font-size: 20px;
}

.inputIn {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 14px 10px 12px 45px;
    border: none;
    border-radius: 2px;
    border: 2px solid rgb(10, 9, 9);}
  .inputIn:focus {
    outline: 3px solid rgb(253, 243, 243);
    background-color: rgb(206, 181, 231);
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-cont {
  
    
    background-color: #bd1717;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-cont a {
    color: black;
    padding: 12px 16px;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    display: block;}
 
  .dropdownC a:hover {
    background-color: rgb(25, 81, 85);
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .show {display: show;}

  .dropdown-cont{
    height: 560px;
    background-color:rgb(173, 179, 190);
    
  }

 

  
 
 
  #intro-part{
    
    background-color: rgb(161, 161, 201);
  }
 


  
  