@import "includes/_colors";
@import "includes/_sizeVariable";

#intro-part{
  div{div{
    padding-left: 21px;
    h2{
      font-family:Georgia, 'Times New Roman', Times, serif ;
    }
    p{
      font-weight: bold;
      font-size: $intro-pfontSize;
    }
  }}
  background-color: $intro-Background;
}


#myDiv{
  margin-top: 10px;
  padding: 15px;
  color: black;
  font-size: $uni-fontSize;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: $myDiv-height;
  background-color: $uni-Background;

  overflow: auto;
  
  div{
    p:hover{
      background-color: honeydew;
      cursor: pointer;
    }
    p{
      
      a{
        text-decoration: none;
        color: $uni-color;
      }
    }
  }
}




#topTen{
  font-size: 20px;
}

.inputIn {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 14px 10px 12px 45px;
    border: none;
    border-radius: 2px;
    border: 2px solid rgb(10, 9, 9);
  }
  .inputIn:focus {
    outline: 3px solid rgb(253, 243, 243);
    background-color: rgb(206, 181, 231);
    font-weight: bold;
  }
 
  
  .dropdown-cont {
     
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-cont a {
    color: black;
    padding: 12px 16px;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    display: block;}
 
  .dropdownC a:hover {
    background-color: $hover-background;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .dropdown-cont{
    height: $dropDown-height;
    //background-color:rgb(173, 179, 190);
  }
  #stats{
    div{
      img{text-align: center;}
      h3{
        background-color: rgb(45, 175, 136);
      }
    }
   
    padding: 10px;
    border: 1px solid black;
  }
  footer{
    background-color:$footer-background;
  }

 

  
 
 
  


  
  