//define variables 
// #all-Background
$intro-Background: rgb(20, 173, 148);
$uni-Background:rgb(25, 173, 148);
$stat-Background:white;
$footer-background:rgb(20, 173, 148);

$hover-background:rgb(14, 75, 46);

// font Colours
$uni-color: black;
$country-color: black;

$myblue: blue;
$myred: rgb(148, 16, 16);



$country-back: grey;
$allUniBack:purple;